:root {
  --background-color: #e5e5e5;
  --header-text-color: #fff;
  --secondary-text-color: #545454;
  --button-activeHover-color: #ff6b01;
  --description-accent-color: #ff6b08;
  --main-title-color: #000000;
  --button-paggination-color: #f7f7f7;
  --underline-title-colorNotiflix-failure-color: #ff001b;
  --modal-key-description-color: #8c8c8c;
  --shadow-header: 0px 10px 36px 16px #e2e2e2;
}
.dark {
  --background-color: #111111;
  --main-title-color: #fff;
  --button-paggination-color: #0e0b0a;
}
