<div class="team-backdrop is-hidden">
  <div class="swiper-box">
    <div class="swiper team-modal">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="team-photo"
            src="./images/Andrey.jpg"
            alt="Andriy Bondarenko"
          />
          <div class="member-info">
            <h3 class="member-name">Andriy Bondarenko</h3>
            <p class="member-pos">Frontend Developer</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            class="team-photo"
            src="./images/Vlad.jpg"
            alt="Vlad Shelkunov"
          />
          <div class="member-info">
            <h3 class="member-name">Vlad Shelkunov</h3>
            <p class="member-pos">Scrum-master</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            class="team-photo"
            src="./images/Maksym.jpg"
            alt="Maksym Pokulytyi"
          />
          <div class="member-info">
            <h3 class="member-name">Maksym Pokulytyi</h3>
            <p class="member-pos">Frontend Developer</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            class="team-photo"
            src="./images/Evgenyi.jpg"
            alt="Evgen Oponasenko"
          />
          <div class="member-info">
            <h3 class="member-name">Evgen Oponasenko</h3>
            <p class="member-pos">Frontend Developer</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            class="team-photo"
            src="./images/Mykhailo.jpg"
            alt="Mykhailo Novikoff"
          />
          <div class="member-info">
            <h3 class="member-name">Mykhailo Novikov</h3>
            <p class="member-pos">Team lead</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>
