<div class="auth-backdrop visual-hidden" data-signup-modal>
  <div class="auth-modal">
    <button class="close-auth-btn signup-modal">
      <svg width="14" height="14" class="auth-icon">
        <use href="./images/sprite/symbol-defs.svg#icon-cross" />
      </svg>
    </button>
    <h2 class="auth-modal__title">SIGN UP</h2>
    <form class="auth-form" data-signup-form>
      <div class="auth-form__field">
        <label class="auth-form__label">
          <span class="auth-form__name" id="logInEmail">Email</span>
          <input class="auth-form__input" type="email" name="email" />
        </label>
      </div>
      <div class="auth-form__field">
        <label class="auth-form__label">
          <span class="auth-form__name" id="logInPassword">Password</span>
          <input class="auth-form__input" type="password" name="password" />
        </label>
      </div>

      <button class="auth-form__btn" type="submit" id="logInBtn">
        Sign Up
      </button>
    </form>
  </div>
</div>
