.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 767px) {
    height: 100vh;
    max-height: 940px;
  }
  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
  }
}
// .modal-is-open {
//   overflow: hidden;
// }
.modal__container {
  padding-top: 48px;
  padding-right: 20px;
  padding-bottom: 48px;
  padding-left: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 40px;
    padding-left: 36px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 12px;
    padding-bottom: 40px;
    padding-left: 12px;
  }
}
.image__place {
  position: relative;
  display: block;
  background-color: inherit;
  border-radius: 5px;
  width: 240px;
  height: 357px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
  }
  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}
.modal-poster {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.content__place {
  // position: relative;
  font-weight: 500;
  margin-top: 20px;
  width: 240px;
  margin-left: 0px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    width: 264px;
    margin-left: 68px;
  }
  @media screen and (min-width: 1280px) {
    width: 391px;
    margin-left: 12px;
  }
}
.modal__header {
  font-size: 20px;
  line-height: 1.15;
  text-align: left;
  vertical-align: top;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1;
  }
}
.details {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.14;
  text-align: left;
}
.details-head {
  width: calc(50% - 5px);
  margin-right: 10px;
  font-style: medium;
  // font-size: 12px;
  color: #8c8c8c;
}
.details-content {
  color: #000000;
}
.details-string:not(:last-child) {
  margin-bottom: 8px;
}
.vote--modal {
  display: inline-block;
  width: 36px;
  height: 16px;
  padding-top: 2px;
  padding-bottom: 1px;
  border-radius: 5px;
  align-items: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b01;
}
.modal-annotation {
  margin-top: 8px;
  margin-bottom: 20px;
  line-height: calc(20 / 12);
  text-align: left;
}
.film-modal__button {
  width: 110px;
  height: 44px;
  padding-right: 9px;
  padding-left:  9px; 
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: 500;
  &:hover {
      transform: scale(1.05);
      transition: transform 500ms;
  }
  @media screen and (min-width: 320px) {
    width: 110px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 125px;
    
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 136px;
   
  }
  &--active {
    border: none;
    background-color: rgb(255, 107, 1);
    color: #ffffff;
    
  }
   
}
.button__trailer {
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  border: transparent;
  position: absolute;
  width: 100%;
  padding: 5px 0;
  margin: 0 auto;
  &:hover {
      transform: scale(1.08);
      transition: transform 500ms;
  }
  &:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 10px;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg');
    background-repeat: no-repeat;
    background-size: contain;
   
    @media screen and (min-width: 1280px) {
      left: 40px;
      top: 15px;
      width: 60px;
      height: 60px;
    }
  }
}

.button__place {
  // position: absolute;

  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}
// .close{
//     width: 100%;
//     height: 100%;
// }
.close__button {
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: none;
}
.close__icon {
  top: 0;
  left: 0;
  fill: #000000;
}
